img,
.comment {
  border-radius: 4px;
}

svg.icon {
  opacity: 0.25;
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 0;
}

span.tag {
  background-color: @green;
  color: white;
  font-size: 11px;
  position: absolute;
}

a {
  color: @blue;
  &:hover {
    text-decoration: none;
    color: @darkBlue;
  }
}

.project {
  margin-top: 90px;
  margin-bottom: 40px;
  h1 {
    color: @black;
  }
  p {
    color: @medGrey;
  }
  img.project-image {
    width: 100%;
    display: block;
  }
  svg.project-favorite {
    position: absolute;
    bottom: 0;
    right: 20px;
    path {
      fill: @red;
      stroke: white;
      stroke-width: 4px;
    }
  }
  a {
    margin-left: 10px;
  }
}

.feedback {
  background-color: @lightGrey;
  h3 {
    margin-top: 40px;
    color: @black;
    margin-bottom: 20px;
    position: relative;
    span {
      margin-left: 40px;
    }
    svg {
      margin-right: 10px;
    }
  }
  .comment-wrapper.maker-comment {
    margin-top: 40px;
    margin-bottom: 40px;
    .arrow-down {
      border-top-color: @grey;
    }
    .comment {
      background-color: @grey;
      textarea {
        width: 100%;
        resize: none;
        background-color: transparent;
        border: none;
        &:focus {
          outline: 0;
        }
      }
    }
  }
  .comment-wrapper {
    margin-bottom: 10px;
    position: relative;
    span.date {
      margin-left: 10px;
      color: @medGrey;
      font-weight: 900;
      font-size: 11px;
    }
    img.avatar {
      width: 60px;
      float: left;
    }
    svg.reply {
      position: absolute;
      bottom: 0;
      right: 15px;
      &:hover {
        opacity: 1;
        path {
          fill: @blue;
        }
      }
    }
    .comment {
      border-top-left-radius: 0;
      background-color: white;
      padding: 10px 20px;
      margin-left: 80px;
      p {
        margin-top: 10px;
      }
    }
    .arrow-down {
      position: absolute;
      left: 70px;
    }
    span.tag {
      top: 50px;
      left: 13px;
      padding: 1px 5px;
      border-radius: 3px;
    }
  }
  .favorite-wrapper {
    margin-bottom: 10px;
    img {
      float: left;
    }
    a {
      display: block;
      margin-top: 4px;
      margin-left: 40px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    span.tag {
      bottom: -7px;
      left: 31px;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      text-align: center;
      padding-top: 3px;
    }
  }
}
