link(rel="stylesheet" href="/app/app.css")
nav.navbar.navbar-inverse.navbar-fixed-top
.container
	.row
		.col-xs-8
			img(src="#{details.clips[0].assets.web_960.url}")
		.col-xs-4
			h1 #{details.title}
			p #{date}
